.body{ font: 14px Arial; }
.client_label{ position: relative; float: left; top: 65px; }
.duo_label{ position: relative; float: left; top: 36px; }
.email_label{ position: relative; float: left; top: 7px; }
.form_content{ height: 40%; width: 100%; position: relative; margin-bottom: 10px; }
.input_form{ position: relative; top: 56px; width: 356px; height: 300px; }
.login_button { width: 200px; height: 40px; background-color: #FFFFFF; color: #000000; }
.main_message{ position: relative; width: 77%; text-align: left; top: 9%; }
.main_widget{ border: solid grey 1px; width: 466px; height: 280px; }
.result_table{ width: 1200px; height: 280px;}
.text-field{ position: relative; width: 267px; float: right; }
.title{ margin-top: 10%; font-size: 20px; }
#user_name{ padding-left: 5px; border: 1px solid gray; height: 28px; }
#duo_code{ padding-left: 5px; position: relative; top: 17px; border: 1px solid gray; height: 28px; }
#client_email{ padding-left: 5px; position: relative; top: 33px; border: 1px solid gray; height: 28px; }
